@import url("../../vendors/bootstrap/css/bootstrap.min.css");
@import url("../../vendors/fontawesome/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("../bookmarks/index.css");

body {
    border-left: none;
    border-right: none;
    background-color: rgb(16, 16, 16);
}

.wd-bottom {
    margin-top: 10px;
}

.wd-search-box {
    flex-grow: 1;
}

.wd-search-box>input {
    background-color: white;
    height: 30px;
    width: calc(100% - 90px);
    border-radius: 15px;
    padding-left: 30px;
}

.wd-search-box ::placeholder {
    color: rgb(59, 56, 56);
    opacity: 0.4;
}


.wd-float-right {
    float: right;
}

.front-size>li>a {
    font-size: 14px;
}

.logo-shape {
    border-radius: 50%;
}

.title-style {
    color: white;
    font-weight: bold;
}

.nav-item>.my-link {
    color: white;
    font-weight: 500;
    margin: none;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item>.myactive {
    background-color: #3fb8f0;
    border-radius: 10%;
}

.btn-primary-lightblue {
    color: #fff;
    background-color: #3fb8f0;
    background-color: #3fb8f0;
}

.list-group-item-bg {
    background-color: rgb(41, 40, 40);
    border-color: rgb(41, 40, 40);
    color: white;
}

.myactive {
    background-color: #3fb8f0;
    border-color: #3fb8f0;
}

.logo-shape {
    border-radius: 50%;
}
